Repository frogody/Optiflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @optiflow/platform-team, @optiflow/voice-team, @optiflow/data-team, @optiflow/workflow-team, @optiflow/integration-team, @optiflow/security-team, @optiflow/devops-team

Update @react-three/fiber to version 9.0.0-alpha.8 and adjust related dependencies; modify import path for useUserStore to include .js extension
  package-lock.json
  package.json
  src/lib/pipedream/usePipedreamConnect.ts
Owners: @optiflow/platform-team, @optiflow/integration-team

Update TypeScript configuration to extend from base-tsconfig.json and clean up import path for useUserStore by removing the .js extension
  agent-examples/reference-agent/sip/make-a-call/tsconfig.json
  src/lib/pipedream/usePipedreamConnect.ts
Owners: @optiflow/voice-team, @optiflow/integration-team

Add error handling for Pipedream connection in ConnectionsPage
  src/app/connections/page.tsx
Owners: @optiflow/platform-team

Refactor connection handling logic in ConnectionsPage and TestPipedreamPage; add error handling for connection failures
  src/app/connections/page.tsx
  src/app/test-pipedream/page.tsx
Owners: @optiflow/platform-team

Refactor Tailwind and TypeScript configurations; update connection handling in ConnectionsPage for improved type safety and error handling
  src/app/connections/page.tsx
  src/app/test-pipedream/page.tsx
  tailwind.config.js
  tsconfig.json
Owners: @optiflow/platform-team

Integrate next-i18next configuration into Next.js setup; enhance _app.tsx to utilize translation capabilities
  next-i18next.config.js
  next.config.js
  src/pages/_app.tsx
Owners: @optiflow/platform-team

Update next.config.js to require next-i18next configuration using CommonJS syntax for compatibility
  next.config.js
Owners: @optiflow/platform-team

Remove next-i18next configuration and related imports from Next.js setup; update _app.tsx to reference CommonJS version of the configuration file.
  next-i18next.config.js
  next.config.js
  src/pages/_app.tsx
Owners: @optiflow/platform-team

Update import path for next-i18next configuration in _app.tsx to reflect new directory structure.
  next-i18next.config.cjs
  src/pages/_app.tsx
Owners: @optiflow/platform-team

Correct import path for next-i18next configuration in _app.tsx to align with updated directory structure.
  src/pages/_app.tsx
Owners: @optiflow/platform-team

Refactor WebSocket error handling to explicitly ignore close errors; update imports in various files for consistency and clarity.
  src/app/api/auth/[...nextauth]/route.ts
  src/app/api/pipedream/test/route.ts
  src/app/api/websocket-test/route.ts
  src/app/pricing/page.tsx
  src/pages/_app.tsx
  src/pipedream-connect-examples/managed-auth-basic-next-app/app/page.tsx
Owners: @optiflow/security-team, @optiflow/platform-team

Update package dependencies in package.json and package-lock.json; add new AI provider packages and related dependencies for enhanced functionality.
  package-lock.json
  package.json
Owners: @optiflow/platform-team

Update import path for MemoryClient to use '@mem0/vercel-ai-provider' for improved integration with the new AI provider.
  src/services/Mem0MemoryService.ts
Owners: @optiflow/platform-team

Refactor Mem0MemoryService to utilize new memory management functions from '@mem0/vercel-ai-provider'; remove deprecated MemoryClient usage and streamline memory operations.
  src/services/Mem0MemoryService.ts
Owners: @optiflow/platform-team

Refactor import statements across multiple files to use consistent syntax and improve code clarity; update variable declarations from 'let' to 'const' for better immutability practices.
  src/app/api/agent/orchestrate/route.ts
  src/app/api/livekit/dispatch/route.ts
  src/app/api/livekit/room/route.ts
  src/app/api/livekit/token/route.ts
  src/app/api/memory/[scope]/[id]/route.ts
  src/app/connections/page.tsx
Owners: @optiflow/platform-team

Refactor VoiceAgent component to improve type safety by changing 'any' to 'unknown' for workflow and recognitionRef types, enhancing code clarity and maintainability.
  src/components/workflow/VoiceAgent.tsx
Owners: @optiflow/workflow-team

Smart fixes: removed unused variables, cleaned up flagged imports, and prepared for next build. Ready for redeploy.
  src/app/about/page.tsx
  src/app/api/pipedream/apps/[appSlug]/test/route.ts
  src/app/billing/plans/page.tsx
  src/app/dashboard-test/page.tsx
  src/app/dashboard/page.tsx
  src/app/developer/layout.tsx
  src/app/features/page.tsx
  src/app/orchestrators/[id]/flows/[flowId]/page.tsx
  src/app/orchestrators/[id]/flows/[flowId]/testSimpleImport.js
  src/app/page.tsx
  src/app/products/ai-factory/page.tsx
  src/app/settings/organization/page.tsx
  src/app/settings/profile/page.tsx
Owners: @optiflow/platform-team

Remove pnpm-lock.yaml to fix CI build error and enforce npm as the package manager
  pipedream-connect-examples/connect-react-demo/pnpm-lock.yaml
Owners: @optiflow/platform-team

Add ioredis package and update dependencies in package.json and package-lock.json
  package-lock.json
  package.json
Owners: @optiflow/platform-team

Refactor import statements in presence-related files to improve clarity and consistency; ensure Redis is imported correctly and remove duplicate imports.
  src/app/admin/presence-dashboard.tsx
  src/app/api/presence/check/route.ts
  src/app/api/presence/route.test.ts
  src/app/api/presence/route.ts
Owners: @optiflow/platform-team

Refactor import statements across multiple files to enhance consistency and clarity; ensure Redis is imported correctly and remove duplicate imports in presence-related components and tests.
  src/app/admin/presence-dashboard.tsx
  src/app/api/presence/check/route.ts
  src/app/api/presence/route.test.ts
  src/app/api/presence/route.ts
  src/components/workflow/VoiceAgent.tsx
  src/pages/_app.tsx
Owners: @optiflow/platform-team, @optiflow/workflow-team

Refactor import statements in presence-related files to enhance consistency and clarity; update Redis imports to use a centralized source and remove unnecessary duplicate imports.
  src/app/api/presence/check/route.ts
  src/app/api/presence/route.ts
  src/lib/redis.ts
Owners: @optiflow/platform-team

Enhance README.md to emphasize enterprise features, including collaboration, security, and scalability. Update section titles and descriptions for clarity and alignment with enterprise needs.
  README.md
Owners: @optiflow/platform-team

Refactor import statements in presence-related files to enhance consistency; ensure Redis is imported correctly and remove unnecessary duplicate imports.
  src/app/api/presence/check/route.ts
  src/app/api/presence/route.ts
Owners: @optiflow/platform-team

Update ESLint configuration to include Next.js presets, modify Node engine version in package.json, and refactor import statements across multiple components for consistency and clarity.
  .eslintrc.cjs
  package.json
  src/app/api/pipedream/apps/[appSlug]/test/route.ts
  src/components/AgentDashboard.tsx
  src/components/ConsultationForm.tsx
  src/components/ConversationalVoiceBuilder.tsx
  src/components/Navigation.tsx
  src/components/OrchestratorInput.tsx
  src/components/VoiceWorkflowBuilder.tsx
  src/components/workflow/ConversationalWorkflowBuilder.tsx
  src/components/workflow/FlowEditor.tsx
  src/components/workflow/WorkflowList.tsx
  src/services/AIService.ts
  src/services/AgentOrchestratorService.ts
  src/services/KnowledgeBaseService.ts
  src/services/mcp/MCPService.ts
  src/services/voiceService.ts
  src/services/workflowExecutor.ts
Owners: @optiflow/platform-team, @optiflow/workflow-team

Fix TypeScript errors in dynamic route files and environment variable access
  pipedream-client.ts
  src/app/orchestrators/%5Bid%5D/flows/%5BflowId%5D/page.tsx
  src/app/orchestrators/%5Bid%5D/page.tsx
  src/app/orchestrators/[id]/flows/[flowId]/page.tsx
  src/app/workflows/configure/%5BagentId%5D/page.tsx
Owners: @optiflow/platform-team

Fix: Use npm instead of pnpm for Vercel deployments
  .npmrc
  vercel.json
Owners: @optiflow/platform-team, @optiflow/devops-team

Fix TypeScript errors: Add null check for tenantFields and disable no-explicit-any for specific files
  .eslintrc.cjs
  prisma/middleware/tenantFilter.ts
Owners: @optiflow/platform-team, @optiflow/data-team

Fix TypeScript error in prisma/seed.ts by using bracket notation for process.env access
  prisma/seed.ts
Owners: @optiflow/data-team

Fix: TypeScript errors related to environment variable access and unused variables
  scripts/backup-db.ts
  scripts/check-env.ts
  scripts/migrate-db.ts
  scripts/migrate.ts
  scripts/set-prod-passwords.ts
  scripts/validate-voice-routing.ts
  src/api/auth/google.ts
  src/app/admin-login/page.tsx
  src/app/admin/layout.tsx
  src/app/admin/presence-dashboard.tsx
  src/app/api/agent/orchestrate/route.ts
  src/types/next-auth.d.ts
Owners: @optiflow/devops-team, @optiflow/platform-team

Fix: Update Vercel config to handle pnpm frozen lockfile issue
  deploy-fix.sh
  vercel.json
Owners: @optiflow/platform-team, @optiflow/devops-team

Fix: Add Next.js config to ignore TypeScript errors and fix unused variables in orchestrate route
  next.config.mjs
  src/app/api/agent/orchestrate/route.ts
Owners: @optiflow/platform-team

Fix: Update Next.js config and session handling for SSR compatibility
  next.config.mjs
  src/pages/_app.tsx
  src/pages/integrations/success.tsx
Owners: @optiflow/platform-team

Fix: Resolve client-side exceptions and hydration errors
  next.config.mjs
  src/lib/i18n.ts
  src/pages/_app.tsx
  src/pages/api/manifest.ts
  src/pages/integrations/success.tsx
Owners: @optiflow/platform-team

Fix: Add i18next-browser-languagedetector and fix next.config.mjs
  next.config.mjs
  package-lock.json
  package.json
  src/components/ui/CustomIcon.tsx
Owners: @optiflow/platform-team

Fix homepage rendering and i18n initialization issues
  package-lock.json
  package.json
  public/icons/chart.svg
  public/icons/code.svg
  public/icons/settings.svg
  public/index.html
  src/app/page.tsx
  src/lib/i18n.ts
Owners: @optiflow/platform-team

Fix React hydration errors with better client/server rendering
  public/icons/github.svg
  public/icons/gmail.svg
  public/icons/slack.svg
  src/app/layout.tsx
  src/app/page.tsx
  src/components/providers/RootProviders.tsx
Owners: @optiflow/platform-team

Fix: Move VoiceAgentInterface with ssr:false to client component
  public/icons/asana.svg
  public/icons/hubspot.svg
  public/icons/salesforce.svg
  public/icons/stripe.svg
  public/icons/zapier.svg
  src/app/layout.tsx
  src/components/ClientVoiceWrapper.tsx
Owners: @optiflow/platform-team

Fix: Update i18next configuration to resolve deprecation warnings
  src/lib/i18n.ts
Owners: @optiflow/platform-team

Fix client-side hydration issues in production
  src/app/layout.tsx
  src/components/ErrorBoundary.tsx
  src/components/providers/RootProviders.tsx
  src/lib/i18n.ts
  src/lib/redis.ts
Owners: @optiflow/platform-team

.github/CODEOWNERS:

# Optiflow Code Ownership
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
* @optiflow/platform-team

# Voice agent functionality
/src/components/voice/ @optiflow/voice-team
/src/lib/livekit.ts @optiflow/voice-team
/voice-agent/ @optiflow/voice-team
/agent-examples/ @optiflow/voice-team
/agent-server/ @optiflow/voice-team
/src/services/agents/ @optiflow/voice-team

# Database and data layer
/prisma/ @optiflow/data-team
/src/lib/prisma.ts @optiflow/data-team

# Workflows
/src/components/workflow/ @optiflow/workflow-team

# Integrations
/src/lib/pipedream/ @optiflow/integration-team
/src/services/integrations/ @optiflow/integration-team

# Auth and security
/src/lib/auth.ts @optiflow/security-team
/src/app/api/auth/ @optiflow/security-team

# DevOps and CI/CD
/.github/workflows/ @optiflow/devops-team
/scripts/ @optiflow/devops-team
/vercel.json @optiflow/devops-team
