Repository frogody/Optiflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @optiflow/platform-team, @optiflow/voice-team, @optiflow/data-team, @optiflow/workflow-team, @optiflow/integration-team, @optiflow/security-team, @optiflow/devops-team

Integrate Upstash Redis SDK
  package-lock.json
  package.json
  setup-redis-vercel.sh
  src/app/admin/presence-dashboard.tsx
  src/app/api/presence/check/route.ts
  src/app/api/presence/route.test.ts
  src/app/api/presence/route.ts
  src/app/api/redis-test/route.ts
  src/lib/redis.ts
  src/lib/upstash.ts
Owners: @optiflow/platform-team

Fix dynamic import in layout by moving ErrorBoundary to client component
  src/app/layout.tsx
  src/components/ErrorBoundaryWrapper.tsx
Owners: @optiflow/platform-team

Fix client-side error: add improved error handling and debug tools
  src/app/debug/page.tsx
  src/components/ClientVoiceWrapper.tsx
  src/components/ErrorBoundary.tsx
  src/components/ErrorBoundaryWrapper.tsx
  src/components/providers/RootProviders.tsx
  src/lib/debug-script.ts
  src/lib/error-handler.ts
Owners: @optiflow/platform-team

Update next.config.mjs and websocket-test route for improved static generation support
  next.config.mjs
  src/app/api/websocket-test/route.ts
Owners: @optiflow/platform-team

Refactor websocket-test route to handle POST requests for WebSocket connection testing
  src/app/api/websocket-test/route.ts
Owners: @optiflow/platform-team

Update next.config.mjs to include React packages for error handling and simplify dynamic import in ClientVoiceWrapper for improved client-side rendering
  next.config.mjs
  src/components/ClientVoiceWrapper.tsx
Owners: @optiflow/platform-team

Refactor layout component to replace dynamic imports with ClientComponentsLoader for improved client-side rendering and error handling.
  src/app/layout.tsx
  src/components/ClientComponentsLoader.tsx
Owners: @optiflow/platform-team

Fix: Resolve React version conflict in services pages by implementing proper client-side rendering wrapper for framer-motion
  src/app/services/api-development/page.tsx
  src/app/services/custom-integration/page.tsx
  src/components/MotionWrapper.tsx
Owners: @optiflow/platform-team

Fix React version conflict and import barrel optimization issues in service pages
  fix-service-pages.js
  src/app/services/analytics/page.tsx
  src/app/services/api-development/page.tsx
  src/app/services/audit-ai-data-tools/page.tsx
  src/app/services/custom-development/page.tsx
  src/app/services/ensure-compliance-security/page.tsx
  src/app/services/evaluate-innovation/page.tsx
  src/app/services/security-compliance/page.tsx
Owners: @optiflow/platform-team

Fix JSX syntax errors and formatting issues in service pages
  fix-service-pages-jsx.js
  fix-service-pages.js
  src/app/services/analytics/page.tsx
  src/app/services/custom-development/page.tsx
  src/app/services/ensure-compliance-security/page.tsx
  src/app/services/evaluate-innovation/page.tsx
  src/app/services/security-compliance/page.tsx
Owners: @optiflow/platform-team

Fix build issues: make service pages dynamic, optimize react-icons imports, add loading component, increase static generation timeout
  clear-build-cache.sh
  make-service-pages-dynamic.js
  next.config.mjs
  src/app/loading.tsx
  src/app/services/analytics/page.tsx
  src/app/services/api-development/page.tsx
  src/app/services/audit-ai-data-tools/page.tsx
  src/app/services/custom-development/page.tsx
  src/app/services/ensure-compliance-security/page.tsx
  src/app/services/evaluate-innovation/page.tsx
  src/app/services/security-compliance/page.tsx
Owners: @optiflow/platform-team

Complete rewrite of service pages to fix dynamic configuration issue
  fix-config-exports.js
  fix-dynamic-export.js
  next.config.mjs
  src/app/services/analytics/page.tsx
  src/app/services/api-development/page.tsx
  src/app/services/audit-ai-data-tools/page.tsx
  src/app/services/custom-development/page.tsx
  src/app/services/ensure-compliance-security/page.tsx
  src/app/services/evaluate-innovation/page.tsx
  src/app/services/security-compliance/page.tsx
Owners: @optiflow/platform-team

Implement Security Compliance page with client-side rendering, feature display, and loading state. Enhance user experience with structured layout and icons for each feature.
  src/app/services/security-compliance/page.tsx
Owners: @optiflow/platform-team

Enhance error handling and client-side initialization: Improved logging in ErrorBoundary, added initialization error display in RootProviders, and integrated debug script in layout for production.
  src/app/layout.tsx
  src/components/ErrorBoundary.tsx
  src/components/providers/RootProviders.tsx
Owners: @optiflow/platform-team

Refactor error handling in RootProviders and layout: Removed redundant ErrorBoundaryWrapper from layout and streamlined error boundaries in RootProviders for improved clarity and performance.
  src/app/layout.tsx
  src/components/providers/RootProviders.tsx
Owners: @optiflow/platform-team

Update serverActions configuration in next.config.mjs: Changed serverActions from a boolean to an object for enhanced flexibility in error handling and client-side management.
  next.config.mjs
Owners: @optiflow/platform-team

Update serverActions configuration in next.config.mjs: Changed serverActions from an object to a boolean for simplified error handling and improved client-side management.
  next.config.mjs
Owners: @optiflow/platform-team

Update serverActions configuration in next.config.mjs: Modified serverActions to an object with allowedOrigins for enhanced security and flexibility in client-side error handling.
  next.config.mjs
Owners: @optiflow/platform-team

Update serverActions configuration in next.config.mjs: Changed serverActions to an object with an enabled property set to false for improved clarity in error handling.
  next.config.mjs
Owners: @optiflow/platform-team

Refactor authentication routes in NextAuth: Enhanced error handling for GET and POST requests, improved logging, and updated authOptions for better security and session management in Next.js 15.
  src/app/api/auth/[...nextauth]/route.ts
  src/lib/auth.ts
Owners: @optiflow/security-team

Update @types/node version and modify seed script in package.json: Upgraded @types/node to 20.17.46 for compatibility and updated the seed script to use the ES module loader for improved execution.
  package-lock.json
  package.json
Owners: @optiflow/platform-team

Add createUserConnectToken function and update server integration
  pipedream-client.js
  server.js
  src/app/api/auth/[...nextauth]/route.ts
Owners: @optiflow/platform-team, @optiflow/security-team

Fix NextAuth session handling to prevent null/undefined errors
  src/lib/auth.ts
Owners: @optiflow/security-team

Fix port conflicts by using high port number (3987) for development and production
  package.json
Owners: @optiflow/platform-team

Fix TypeScript linter errors in auth.ts
  src/lib/auth.ts
Owners: @optiflow/security-team

Add debug endpoints for LiveKit to enable voice agent without auth in development
  src/app/api/livekit/debug-dispatch/route.ts
  src/app/api/livekit/debug-force-join/route.ts
  src/app/api/livekit/debug-token/route.ts
  src/components/voice/VoiceAgentInterface.tsx
  test-livekit-client.js
Owners: @optiflow/platform-team, @optiflow/voice-team

Add voice test page and debug indicator to VoiceAgentInterface
  src/app/voice-test/page.tsx
  src/components/voice/VoiceAgentInterface.tsx
Owners: @optiflow/platform-team, @optiflow/voice-team

Add voice agent debug documentation
  VOICE_AGENT_DEBUG.md
Owners: @optiflow/platform-team

Fix React DOM attribute errors by creating custom bar visualizer component
  src/components/voice/CustomBarVisualizer.tsx
  src/components/voice/VoiceAgentInterface.tsx
Owners: @optiflow/voice-team

Fix CustomBarVisualizer component to use standard React props and debug with console logs
  src/components/voice/CustomBarVisualizer.tsx
Owners: @optiflow/voice-team

Fix Pipedream client exports for better compatibility
  pipedream-client.cjs
  src/app/api/pipedream/token/route.ts
Owners: @optiflow/platform-team

Create DivBarVisualizer using div elements instead of SVG to avoid React DOM issues
  src/components/voice/DivBarVisualizer.tsx
  src/components/voice/VoiceAgentInterface.tsx
Owners: @optiflow/voice-team

Fix LiveKit connection issues by properly handling URL formats and improving error handling
  src/app/api/livekit/debug-dispatch/route.ts
  src/app/api/livekit/debug-force-join/route.ts
  src/app/api/livekit/debug-token/route.ts
  src/components/voice/VoiceAgentInterface.tsx
Owners: @optiflow/platform-team, @optiflow/voice-team

Fix: Voice agent microphone connection issues & LiveKit URL format handling
  src/app/api/livekit/check-credentials/route.ts
  src/app/api/livekit/debug-force-join/route.ts
  src/app/api/livekit/debug-token/route.ts
  src/app/api/livekit/dispatch/route.ts
  src/app/api/livekit/force-join/route.ts
  src/app/api/livekit/token/route.ts
  src/app/api/test-env/route.ts
  src/app/voice-simple-test/page.tsx
  src/app/voice-test/page.tsx
  src/components/voice/ConnectionDebugger.tsx
  src/components/voice/VoiceAgentInterface.tsx
Owners: @optiflow/platform-team, @optiflow/voice-team

Fix: Add authentication bypass for voice agent in production
  src/app/api/livekit/dispatch/route.ts
  src/app/api/livekit/force-join/route.ts
  src/components/voice/VoiceAgentInterface.tsx
  src/lib/auth.ts
Owners: @optiflow/platform-team, @optiflow/voice-team, @optiflow/security-team

Add comprehensive Sync introduction document
  SYNC_INTRODUCTION.md
Owners: @optiflow/platform-team

Update README.md with Sync branding and comprehensive product introduction
  README.md
Owners: @optiflow/platform-team

Add workflow to purge README.md cache
  .github/workflows/purge-readme.yml
Owners: @optiflow/devops-team

Update README.md
  README.md
Owners: @optiflow/platform-team

Fix duplicate useState imports in React components causing build errors
  src/app/forgot-password/page.tsx
  src/app/help/community/page.tsx
  src/app/help/contact-support/page.tsx
  src/app/help/getting-started/first-workflow/page.tsx
  src/app/help/page.tsx
Owners: @optiflow/platform-team

.github/CODEOWNERS:

# Optiflow Code Ownership
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
* @optiflow/platform-team

# Voice agent functionality
/src/components/voice/ @optiflow/voice-team
/src/lib/livekit.ts @optiflow/voice-team
/voice-agent/ @optiflow/voice-team
/agent-examples/ @optiflow/voice-team
/agent-server/ @optiflow/voice-team
/src/services/agents/ @optiflow/voice-team

# Database and data layer
/prisma/ @optiflow/data-team
/src/lib/prisma.ts @optiflow/data-team

# Workflows
/src/components/workflow/ @optiflow/workflow-team

# Integrations
/src/lib/pipedream/ @optiflow/integration-team
/src/services/integrations/ @optiflow/integration-team

# Auth and security
/src/lib/auth.ts @optiflow/security-team
/src/app/api/auth/ @optiflow/security-team

# DevOps and CI/CD
/.github/workflows/ @optiflow/devops-team
/scripts/ @optiflow/devops-team
/vercel.json @optiflow/devops-team
