Repository frogody/Optiflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @optiflow/platform-team, @optiflow/voice-team, @optiflow/data-team, @optiflow/workflow-team, @optiflow/integration-team, @optiflow/security-team, @optiflow/devops-team

Fix voice agent connection issues by improving authentication bypass and better error handling
  src/app/api/livekit/token/route.ts
  src/components/voice/VoiceAgentInterface.tsx
Owners: @optiflow/platform-team, @optiflow/voice-team

Fix voice agent authorization - use proper bypass token validation
  src/app/api/livekit/dispatch/route.ts
  src/app/api/livekit/token/route.ts
  src/components/voice/VoiceAgentInterface.tsx
Owners: @optiflow/platform-team, @optiflow/voice-team

Fix LiveKit connection issues: unique constraint errors, token format, and WebSocket URL handling
  src/app/api/livekit/dispatch/route.ts
  src/app/api/livekit/token/route.ts
  src/components/voice/VoiceAgentInterface.tsx
Owners: @optiflow/platform-team, @optiflow/voice-team

Update homepage CTAs from 'Get Started' to 'Join Beta'
  src/app/page.tsx
Owners: @optiflow/platform-team

Remove all 'Meet the Team' sections from about and features pages
  src/app/about/page.tsx
  src/app/features/page.tsx
Owners: @optiflow/platform-team

Fix LiveKit token endpoint with mock token support and improved error handling
  src/app/api/livekit/token/route.ts
  src/components/voice/VoiceAgentInterface.tsx
Owners: @optiflow/platform-team, @optiflow/voice-team

Prioritize real LiveKit token generation over mock tokens and improve WebSocket URL handling
  src/app/api/livekit/token/route.ts
  src/components/voice/VoiceAgentInterface.tsx
Owners: @optiflow/platform-team, @optiflow/voice-team

Add beta registration system with admin approval workflow and email notifications
  BETA_REGISTRATION_GUIDE.md
  prisma/schema.prisma
  src/app/admin/beta-requests/page.tsx
  src/app/admin/layout.tsx
  src/app/api/auth/register/route.ts
  src/app/api/beta-access/approve/route.ts
  src/app/api/beta-access/list/route.ts
  src/app/api/beta-access/reject/route.ts
  src/app/api/beta-access/request/route.ts
  src/app/api/beta-access/verify-invite/route.ts
  src/app/beta-registration/page.tsx
  src/app/signup/page.tsx
  src/lib/email.ts
  src/lib/pipedream/server.ts
Owners: @optiflow/platform-team, @optiflow/data-team, @optiflow/security-team, @optiflow/integration-team

Enhance beta registration system with improved admin approval process and refined email notification settings
  scripts/make-admin.cjs
  scripts/make-admin.js
  scripts/make-admin.ts
  scripts/set-password.cjs
Owners: @optiflow/devops-team

Fix LiveKit token endpoints with improved URL handling and HTTP method support
  src/app/api/livekit/dispatch/token/route.ts
Owners: @optiflow/platform-team

Fix syntax error in beta registration page - replace smart quotes with regular quotes
  src/app/beta-registration/page.tsx
Owners: @optiflow/platform-team

Refactor environment variable scripts to use ES6 module syntax and update beta registration page with new email input and simplified layout
  deploy-beta-fix.sh
  fix-beta-page.js
  fix_environment_vars.js
  fix_typescript.js
  src/app/beta-registration/page.tsx.bak
  src/app/beta-registration/page.tsx.bak.1747159607
  src/app/page.tsx
  verify-beta-registration.js
Owners: @optiflow/platform-team

Add style to hide footer in admin layout
  src/app/admin/layout.tsx
Owners: @optiflow/platform-team

Update email functionality to use Pipedream webhook for beta approval emails
  WEBHOOK_EMAIL_SETUP.md
  src/lib/pipedream/email.ts
Owners: @optiflow/platform-team, @optiflow/integration-team

Refactor email notification system to streamline beta approval process and improve webhook integration with Pipedream.
  EMAIL_SETUP_INSTRUCTIONS.md
Owners: @optiflow/platform-team

Fix LiveKit token API parameter mismatch (username → identity)
  src/app/api/livekit/token/route.ts
  src/components/workflow/VoiceAgent.tsx
Owners: @optiflow/platform-team, @optiflow/workflow-team

Update beta registration page to enhance user experience with improved layout and additional email input field.
  fix-livekit-url-correct.sh
  fix-livekit-url.sh
Owners: @optiflow/platform-team

Add LiveKit v2 environment variable checks and update deployment scripts
  LIVEKIT_V2_MIGRATION.md
  VOICE_AGENT_README.md
  agent-examples/reference-agent/basics/agent.py
  deploy-to-vercel.sh
  fix-livekit-url.sh
  livekit-v2-migration.sh
  package-lock.json
  package.json
  run-simple-agent.sh
  src/app/api/livekit/debug-dispatch/route.ts
  src/app/api/livekit/debug-force-join/route.ts
  src/app/api/livekit/dispatch/route.ts
  src/app/api/livekit/dispatch/token/route.ts
  src/app/api/livekit/token/route.ts
  src/components/voice/VoiceAgentInterface.tsx
  src/components/workflow/VoiceAgent.tsx
  start-livekit-agent.sh
  start-voice-agent.sh
  voice-agent/=1.0.0
  voice-agent/Dockerfile
  voice-agent/README.md
  voice-agent/env.example
  voice-agent/main_agent.py
  voice-agent/simple_agent.py
Owners: @optiflow/platform-team, @optiflow/voice-team, @optiflow/workflow-team

Refactor LiveKit API routes for improved modularity and error handling
  deploy-voice-agent-fix-v2.sh
  deploy-voice-agent-fix-v3.sh
  deploy-voice-agent-fix-v4.sh
  deploy-voice-agent-fix-v5.sh
  deploy-voice-agent-fix.sh
  deploy-voice-fix.sh
  src/app/api/livekit/dispatch/route.ts
  src/app/api/livekit/force-join/route.ts
  src/components/voice/VoiceAgentInterface.tsx
  src/lib/auth.ts
  src/lib/themeStore.tsx
Owners: @optiflow/platform-team, @optiflow/voice-team, @optiflow/security-team

Revamp voice agent documentation and deployment process
  README-VOICE-AGENT.md
  render-deployment-guide.md
  src/components/voice/VoiceAgentInterface.tsx
  temp-voice-agent-env
  voice-agent-deployment-guide.md
  voice-agent-deployment-summary.md
  voice-agent-test.html
  voice-agent/DEPLOYMENT_INSTRUCTIONS.md
  voice-agent/Dockerfile
  voice-agent/build-and-deploy.sh
  voice-agent/deploy.sh
  voice-agent/requirements.txt
  voice-agent/test-agent.py
Owners: @optiflow/platform-team, @optiflow/voice-team

Add AWS API Gateway bypass to fix 403 error
  src/components/voice/VoiceAgentInterface.tsx
Owners: @optiflow/voice-team

Enhance deployment scripts and voice agent functionality
  AWS_API_GATEWAY_NEXT_STEPS.md
  AWS_API_GATEWAY_SETUP.md
  AWS_INTEGRATION_SUMMARY.md
  Dockerfile
  Dockerfile.new
  README-VOICE-AGENT.md
  VOICE_AGENT_AWS_GATEWAY_README.md
  app.py
  aws-endpoint-logger.js
  deploy-to-vercel.sh
  fix-aws-gateway.sh
  package-lock.json
  package.json
  quick-aws-setup.sh
  requirements.txt
  run.py
  run_simple.py
  setup-aws-api-key.sh
  simple-aws-test.js
  src/components/voice/VoiceAgentInterface.tsx
  test-aws-api-gateway.js
  voice-agent/Dockerfile
  voice-agent/app.py
  voice-agent/main_agent.py
  voice-agent/requirements.txt
  voice-agent/run.py
Owners: @optiflow/platform-team, @optiflow/voice-team

Refactor VoiceAgentInterface for improved AWS and direct URL handling
  VOICE_AGENT_GATEWAY_FIX.md
  fix-voice-agent-connection.sh
  src/components/voice/VoiceAgentInterface.tsx
Owners: @optiflow/platform-team, @optiflow/voice-team

Fix originalFetch reference in VoiceAgentInterface to prevent ReferenceError in production
  src/components/voice/VoiceAgentInterface.tsx
Owners: @optiflow/voice-team

Add CORS configuration to vercel.json and documentation for Render CORS setup
  RENDER_CORS_SETUP.md
  vercel.json
Owners: @optiflow/platform-team, @optiflow/devops-team

Add CORS configuration and new agent endpoints in app.py
  VOICE_AGENT_RENDER_DEPLOY.md
  VOICE_AGENT_RENDER_UPDATE.md
  voice-agent-render-package.zip
  voice-agent-service/main.py
  voice-agent-service/requirements.txt
  voice_agent_fix.py
  voice_agent_render_fix.zip
  voice_agent_requirements.txt
Owners: @optiflow/platform-team

Improved voice agent implementation with proper CORS support and documentation
  VOICE_AGENT_SETUP.md
  app.py
  deploy-voice-agent.sh
  voice-agent-service/main.py
  voice-agent-service/requirements.txt
  voice-agent-test.html
Owners: @optiflow/platform-team

Update subproject commit to indicate a dirty state in optiflow-voice-agent
  voice-agent/main.py
  voice-agent/requirements.txt
Owners: @optiflow/voice-team

Fix CORS issues in voice agent service for proper cross-origin requests
  VOICE_AGENT_SETUP.md
  app.py
  deploy-voice-agent.sh
  voice-agent-service/config.py
  voice-agent-service/main.py
  voice-agent-service/requirements.txt
  voice-agent-service/test_cors.py
Owners: @optiflow/platform-team

Complete voice agent CORS fix for Render.com deployment with proper OPTIONS handling
  VOICE_AGENT_RENDER_DEPLOY.md
  app.py
  deploy-voice-agent-to-render.sh
  voice-agent-service/main.py
  voice-agent-service/render.yaml
Owners: @optiflow/platform-team

Add comprehensive voice agent test page for easy debugging
  voice-agent-test.html
Owners: @optiflow/platform-team

Fix CORS issues with improved origin handling and comprehensive docs
  VOICE_AGENT_RENDER_DEPLOY.md
  app.py
  voice-agent-service/README.md
  voice-agent-service/__pycache__/config.cpython-313.pyc
  voice-agent-service/main.py
Owners: @optiflow/platform-team

Add detailed Render.com deployment steps with screenshots
  RENDER_DEPLOYMENT_STEPS.md
Owners: @optiflow/platform-team

Make CORS handling more permissive and handle both environment variable names
  app.py
  voice-agent-service/config.py
  voice-agent-service/main.py
Owners: @optiflow/platform-team

Fix build issues: duplicate useState imports and invalid next.config.mjs options
  fix-duplicate-imports.js
  next.config.mjs
  src/app/forgot-password/page.tsx
  src/app/help/community/page.tsx
  src/app/help/contact-support/page.tsx
  src/app/help/getting-started/first-workflow/page.tsx
  src/app/help/page.tsx
Owners: @optiflow/platform-team

Fix module system: Remove type:module from package.json and convert to CommonJS
  fix-duplicate-imports.js
  next.config.js
  package.json
Owners: @optiflow/platform-team

Fix build process: Update Vercel config and disable static export for production
  next.config.js
  package.json
  vercel.json
Owners: @optiflow/platform-team, @optiflow/devops-team

Add comprehensive fixes for rendering issues: force dynamic rendering, add fallback icon handling, and cache control headers
  next.config.js
  src/app/dynamic-config.js
  src/components/ui/IconWrapper.jsx
  src/middleware.ts
Owners: @optiflow/platform-team

Simplify build configuration for Vercel deployment
  next.config.js
  package.json
  vercel.json
Owners: @optiflow/platform-team, @optiflow/devops-team

Test GitHub connection
  github-connection-test.md
Owners: @optiflow/platform-team

.github/CODEOWNERS:

# Optiflow Code Ownership
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
* @optiflow/platform-team

# Voice agent functionality
/src/components/voice/ @optiflow/voice-team
/src/lib/livekit.ts @optiflow/voice-team
/voice-agent/ @optiflow/voice-team
/agent-examples/ @optiflow/voice-team
/agent-server/ @optiflow/voice-team
/src/services/agents/ @optiflow/voice-team

# Database and data layer
/prisma/ @optiflow/data-team
/src/lib/prisma.ts @optiflow/data-team

# Workflows
/src/components/workflow/ @optiflow/workflow-team

# Integrations
/src/lib/pipedream/ @optiflow/integration-team
/src/services/integrations/ @optiflow/integration-team

# Auth and security
/src/lib/auth.ts @optiflow/security-team
/src/app/api/auth/ @optiflow/security-team

# DevOps and CI/CD
/.github/workflows/ @optiflow/devops-team
/scripts/ @optiflow/devops-team
/vercel.json @optiflow/devops-team
